Repository npdarrington/Whats-Cookin, pull requests merged in 2020-09, with the labels that each got.

#2 Ran uninstall install on node-sass to fix errors
  package-lock.json
  package.json
Labels: type: bug 🐛

#58 Nd jw user class
  src/user.js
  test/recipe-test.js
  test/user-test.js
Labels: iteration: 1️⃣, priority: 2 🔨, type: enhancement 🌟, type: refactor ➿, type: test 🔮

#67 Recipe and Recipe-test Update
  src/recipe.js
  test/recipe-test.js
Labels: iteration: 1️⃣, priority: 2 🔨, type: enhancement 🌟, type: refactor ➿, type: test 🔮

#72 pantry class: edit methods, write getMissingQuantity(); user marie kondo methods
  src/Pantry.js
  src/data/recipe-data.js
  src/user.js
  test/Pantry-test.js
  test/recipe-test.js
  test/user-test.js
Labels: iteration: 2️⃣, type: bug 🐛, type: enhancement 🌟, type: refactor ➿, type: test 🔮

#74 Calculate Missing Ingredients Cost in Pantry Class
  src/Pantry.js
  src/recipe.js
  src/user.js
  test/Pantry-test.js
  test/user-test.js
Labels: iteration: 1️⃣, priority: 2 🔨, type: enhancement 🌟, type: test 🔮

#76 Nd pantry refactor
  src/Pantry.js
  src/recipe.js
  test/Pantry-test.js
  test/recipe-test.js
Labels: iteration: 2️⃣, type: refactor ➿, type: test 🔮

#77 Fetch functionality
  src/fetch.js
Labels: iteration: 2️⃣, priority: 2 🔨, type: enhancement 🌟

#82 Call Fetch Data to DOM
  src/fetch.js
  src/scripts.js
Labels: type: UI 🎨, type: bug 🐛, type: question❔

#91 Fetch Data: Fix Display Bugs
  pull_request_template.md
  src/fetch.js
  src/index.html
  src/index.js
  src/scripts.js
  webpack.config.js
Labels: type: UI 🎨, type: bug 🐛, type: refactor ➿

#100 Nd accessibility
  src/css/_buttons.scss
  src/css/_header.scss
  src/css/_text.scss
  src/index.html
  src/scripts.js
Labels: iteration: 4️⃣, type: UI 🎨, type: enhancement 🌟, type: refactor ➿

#108 Finishing Pantry Class Functionality, Refactoring Scripts.js, Debugging DOM UI
  src/Pantry.js
  src/data/recipe-data.js
  src/fetch.js
  src/scripts.js
  src/user.js
  test/Pantry-test.js
Labels: iteration: 4️⃣, priority: 2 🔨, type: UI 🎨, type: enhancement 🌟, type: refactor ➿, type: test 🔮

#121 Dom updates hk
  src/Pantry.js
  src/domUpdates.js
  src/fetch.js
  src/scripts.js
  test/domUpdates-test.js
Labels: type: UI 🎨, type: refactor ➿, type: test 🔮

#109 Readme hk
  README.md
  src/Pantry.js
Labels: type: documentation 📓
